<launch>
  <!-- Launch 4 RealSense Cameras with separate namespaces -->
  <!-- Check camera serial number values by running "rs-enumerate"-->

  <group ns="cam1">
    <node name="realsense2_camera" pkg="realsense2_camera" type="realsense2_camera_node" output="screen">
      <param name="serial_no" value="CAM1_SERIAL" />
      <param name="enable_sync" value="true" />
      <param name="diagnostics_period" value="1.0" />
      <param name="enable_color" value="true" />
      <param name="enable_depth" value="true" />
      <param name="color_width" value="640" />
      <param name="color_height" value="480" />
      <param name="color_fps" value="30" />
      <param name="depth_width" value="640" />
      <param name="depth_height" value="480" />
      <param name="depth_fps" value="30" />
    </node>
  </group>

  <group ns="cam2">
    <node name="realsense2_camera" pkg="realsense2_camera" type="realsense2_camera_node" output="screen">
      <param name="serial_no" value="CAM2_SERIAL" />
      <param name="enable_sync" value="true" />
      <param name="diagnostics_period" value="1.0" />
      <param name="enable_color" value="true" />
      <param name="enable_depth" value="true" />
      <param name="color_width" value="640" />
      <param name="color_height" value="480" />
      <param name="color_fps" value="30" />
      <param name="depth_width" value="640" />
      <param name="depth_height" value="480" />
      <param name="depth_fps" value="30" />
    </node>
  </group>

  <group ns="cam3">
    <node name="realsense2_camera" pkg="realsense2_camera" type="realsense2_camera_node" output="screen">
      <param name="serial_no" value="CAM3_SERIAL" />
      <param name="enable_sync" value="true" />
      <param name="diagnostics_period" value="1.0" />
      <param name="enable_color" value="true" />
      <param name="enable_depth" value="true" />
      <param name="color_width" value="640" />
      <param name="color_height" value="480" />
      <param name="color_fps" value="30" />
      <param name="depth_width" value="640" />
      <param name="depth_height" value="480" />
      <param name="depth_fps" value="30" />
    </node>
  </group>

  <group ns="cam4">
    <node name="realsense2_camera" pkg="realsense2_camera" type="realsense2_camera_node" output="screen">
      <param name="serial_no" value="CAM4_SERIAL" />
      <param name="enable_sync" value="true" />
      <param name="diagnostics_period" value="1.0" />
      <param name="enable_color" value="true" />
      <param name="enable_depth" value="true" />
      <param name="color_width" value="640" />
      <param name="color_height" value="480" />
      <param name="color_fps" value="30" />
      <param name="depth_width" value="640" />
      <param name="depth_height" value="480" />
      <param name="depth_fps" value="30" />
    </node>
  </group>
</launch>
